*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Inter', sans-serif;
}

/* UTILITY */

.closer-text{
  padding: 15px 8px !important;
}

.underline-blue{
  text-decoration: underline;
}

.clr-grey{
  color: #80868e;
}

.clr-blue{
  color: #1072ff;
}

.bkgr-grey{
  background-color: #F3F5F9;
}

.bkgr-white{
  background-color: #FFF;
}

  /* INIZIO HEADER */

    /* INIZIO NAV */

.z-index{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #0061FF;
}

.navbar-toggle{
  border: none;
}

.navbar-default{
  background-color: #FFF;
  background-image: none;
}

.button-nav{
  border: 1px solid #0061FF;
  margin-top: 8px;
  background-color: #FFF;
  padding: 6px 12px;
  border-radius: 5px;
  color: #0061FF;
}

.mrg-symb{
  margin: 0 5px;
}

    /* FINE NAV */

    /* INIZIO INTRO */

.sez-intro{
  background-color: rgb(0, 105, 255);
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  margin-top: 50px;
}

.sez-intro h1{
  color: #FFF;
  font-size: 28px;
  margin-top: 40px;
  font-weight: bold;
}

.sez-intro p{
  color: #D0DFFF;
  font-size: 17px;
}

.form-intro{
  background-color: #FFF;
  border-radius: 10px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.form-intro h2{
  color: #000;
  font-size: 23px;
  padding-top: 20px;
  font-weight: bold;
}

.form-intro h3{
  color: #1072FF;
  font-size: 23px;
  font-weight: bold;
}

.sez-intro .form-group{
  padding: 0 20px;
}

.btn-form{
  display: block;
  margin: 4% 4%;
  width: 92%;
  border: none;
  background-image: none;
}

.btn-form-1{
  background-color: #49b4e5;
  color: #FFF;
}

.btn-form-2{
  font-weight: bold;
}

.position-logo-google{
  position: relative;
}

.fa-google{
  position: absolute;
  left:30px;
  top:10px;
  color: #54e516;
}

.sez-intro span{
  font-size: 11px;
  margin-bottom: 20px;
}

.underline-blue:hover{
  cursor: pointer;
}

.underline-blue:active{
  color: #000;
}

    /* FINE INTRO */

    /* FINE HEADER */
  /* INIZIO MAIN */
    /* INIZIO PRIMA SECTION-LOGOS */

.sez-logos{
  background-color: #F3F5F9;
}

.sez-logos h4{
  font-size: 14px;
  padding: 20px 0;
  font-weight: bold;
}

.sez-logos p{
  font-weight: bold;
}

.sez-logos p:hover{
  cursor: pointer;
}

.sez-logos p:active{
  color: #000;
  text-decoration: underline;
}

.logo:hover{
  cursor: pointer;
}

.sez-logos p{
  margin-top:20px;
  margin-bottom: 30px;
}

    /* FINE PRIMA SECTION-LOGOS */
    /* INIZIO SECONDA SECTION-DEPLOY AND SCALE */

.sez-deploy h2{
  font-size: 28px;
  color: #031B4E;
  padding-top: 20px;
}

#text-title{
  font-size: 19px;
  margin-bottom: 40px;
}

.sez-deploy ul li{
  border-left: 2px solid lightgrey;
  list-style: none;
  font-size: 20px;
  padding: 10px 10px;
}

.sez-deploy ul li:hover{
  cursor: pointer;
}

.sez-deploy ul li:active{
  border-left: 2px solid #7CB1FC;
}

.h-200{
  height: 200px;
  margin-bottom: 40px;
}

.h-300{
  height: 300px;
}

.sez-deploy h3{
  color: #031B4E;
  font-weight: bold;
}

.sez-deploy p{
  font-weight: bold;
}

    /* FINE SECONDA SECTION-DEPLOY AND SCALE */
    /* INIZIO TERZA SECTION-DESIGNED */

.sez-designed{
  padding: 50px 0;
}

.sez-designed h2{
  font-size: 28px;
  font-weight: bold;
  color: #031B4E;
}

.sez-designed p{
  font-size: 19px;
}

#img-size{
  width: 70%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.sez-designed h6{
  font-size: 15px;
  font-weight: bold;
  color: #031B4E;
  padding: 0 35px;
  margin-bottom: 80px;
}

.symb-blue{
  color: #7CB1FC;
  border-color: #7CB1FC;
}

.angle-size{
  display: none;
}

.sez-designed .hover:hover{
  cursor: pointer;
}

    /* FINE TERZA SECTION-DESIGNED */
    /* INIZIO QUARTA SECTION-NEEDS */

.sez-needs{
  padding-bottom: 50px;
}

.sez-needs h2{
  text-align: center;
  font-weight: bold;
  color: #031B4E;
  margin-bottom: 40px;
  padding-top: 50px;
}

.sez-needs h5{
  font-size: 17px;
  color: #031B4E;
  font-weight: bold;
}

.sez-needs a{
  color: blue;
}

.sez-needs img, h5, p, a{
  padding: 0 10px;
}

    /* FINE QUARTA SECTION-NEEDS */
    /* INIZIO QUINTA SEZIONE-WORLD */
.background-world{
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(3, 27, 78);
  padding-bottom: 100PX;
}

.background-world h2{
  color: #FFF;
  font-weight: bold;
  font-size: 25px;
  margin: 40px 0;
}

.first-col{
  font-size: 12px;
  color: #FFF;
  vertical-align: middle;
}

.second-col{
  font-size: 12px;
  color: #80868e;
}

.third-col{
  font-size: 11px;
}

.col-options{
  border-bottom: 1px solid white;
}

.col-mrg{
  margin-bottom: 40px;
}
    /* FINE QUINTA SEZIONE-WORLD */
    /* INIZIO SESTA SEZIONE-ROCKERBOX */

.sez-rockerbox h2{
  font-weight: bold;
  color: #031B4E;
  padding-bottom: 80px;
  padding-top: 40px;
}

.sez-rockerbox img{
  width: 100%;
  padding-top: 40px;
}

.sez-rockerbox p{
  font-size: 16px;
  padding-top: 20px;
}

.sez-rockerbox span{
  color: #031B4E;
  font-size: 16px;
}

.read-story{
  margin: 20px 0;
}

.mrg-rockerbox{
  margin-top: 40px;
  margin-bottom: 50px;
}

    /* FINE SESTA SEZIONE-ROCKERBOX */
    /* INIZIO SETTIMA SEZIONE-GETTING-STARTED */
.sez-started{
  background-color: #015BFF;
  padding: 80px 0;
}

.sez-started h2{
  color: #FFF;
  font-weight: bold;
  font-size: 40px;
}

.btn-started{
  padding: 10px 20px;
}

    /* FINE SETTIMA SEZIONE-GETTING-STARTED */
  /* FINE MAIN */

@media all and (min-width:767px){

  /* INIZIO HEADER */
    /* INIZIO NAV */
  .sez-intro h1{
    font-size: 29px;
  }

  .sez-intro p{
    font-size: 18px;
  }

  .navbar-toggle{
    display: block;
  }

  .navbar-header{
    float: none;
  }

  .navbar-collapse.collapse{
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }


    /* FINE NAV */
    /* INIZIO INTRO */

  .form-intro h2{
    font-size: 26px;
  }

  .sez-intro span{
    font-size: 17px;
  }

    /* FINE INTRO */
  /* FINE HEADER */
  /* INIZIO MAIN */
    /* INIZIO PRIMA SECTION-LOGOS*/

  .logo{
    width: 120%;
  }

  #docker{
    margin-top: 10px;
  }

  #slack{
    margin-top: 10px;
  }

  #wework{
    margin-top: 10px;
  }

  #hashi{
    margin-top:15px;
  }

  #splunk{
    margin-top: 8px;
  }

    /* FINE PRIMA SECTION-LOGOS */
    /* INIZIO SECONDA SECTION-DEPLOY AND SCALE */


  .h-200{
    margin-bottom: 80px;
  }

  .sez-deploy h3{
    font-size: 20px;
  }

    /* FINE SECONDA SECTION-DEPLOY AND SCALE */
    /* INIZIO TERZA SECTION-DESIGNED */

  #img-size{
    width: 60%;
  }

  .angle-size{
    font-size: 60px;
    display: contents;
  }

    /* FINE TERZA SECTION-DESIGNED */
    /* INIZIO QUARTA SECTION-NEEDS */
    /* FINE QUARTA SECTION-NEEDS */
    /* INIZIO QUINTA SEZIONE-WORLD */
    /* FINE QUINTA SEZIONE-WORLD */
    /* INIZIO SESTA SEZIONE-ROCKERBOX */
  .sez-rockerbox img{
    width: 80%;
  }
    /* FINE SESTA SEZIONE-ROCKERBOX */
    /* INIZIO SETTIMA SEZIONE-GETTING-STARTED */

    /* FINE SETTIMA SEZIONE-GETTING-STARTED */
  /* FINE MAIN */

}

@media all and (min-width:992px){

  /* INIZIO HEADER */
    /* INIZIO NAV */
  .mrg-l-r{
    margin: 0 60px;
  }

  .sez-intro h1{
    font-size: 50px;
  }

  .sez-intro p{
    font-size: 20px;
  }

  .navbar-toggle{
    display: none;
  }

  .navbar-header{
    float: left;
  }

  .navbar-collapse.collapse{
    display: block !important;
    overflow: visible !important;
  }

    /* FINE NAV */
    /* INIZIO INTRO */
    /* FINE INTRO */
  /* FINE HEADER */
  /* INIZIO MAIN */
      /* INIZIO PRIMA SECTION-LOGOS */

  .logo{
    width: 100%;
  }

  #docker{
    margin-top: 15px;
  }

  #wework{
    margin-top:12px;
  }

  #hashi{
    margin-top: 20px;
  }

    /* FINE PRIMA SECTION-LOGOS */
    /* INIZIO SECONDA SECTION-DEPLOY AND SCALE */
    /* FINE SECONDA SECTION-DEPLOY AND SCALE */
    /* INIZIO TERZA SECTION-DESIGNED */

  #img-size{
    width: 50%;
  }

    /* FINE TERZA SECTION-DESIGNED */
    /* INIZIO QUARTA SECTION-NEEDS */
    /* FINE QUARTA SECTION-NEEDS */
    /* INIZIO QUINTA SEZIONE-WORLD */
    /* FINE QUINTA SEZIONE-WORLD */
    /* INIZIO SESTA SEZIONE-ROCKERBOX */
  .sez-rockerbox img{
    width: 60%;
  }
    /* FINE SESTA SEZIONE-ROCKERBOX */
    /* INIZIO SETTIMA SEZIONE-GETTING-STARTED */

    /* FINE SETTIMA SEZIONE-GETTING-STARTED */
  /* FINE MAIN */

}
