*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Inter', sans-serif;
}

/* UTILITY */

.closer-text{
  padding: 15px 8px !important;
}

.underline-blue{
  text-decoration: underline;
}

.clr-grey{
  color: #80868e;
}

.clr-blue{
  color: #1072ff;
}

/* INIZIO HEADER */

/* INIZIO NAV */

.z-index{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #0061FF;
}

.navbar-toggle{
  border: none;
}

.navbar-default{
  background-color: #FFF;
  background-image: none;
}

.button-nav{
  border: 1px solid #0061FF;
  margin-top: 8px;
  background-color: #FFF;
  padding: 6px 12px;
  border-radius: 5px;
  color: #0061FF;
}

.mrg-symb{
  margin: 0 5px;
}

/* FINE NAV */

/* INIZIO INTRO */

.sez-intro{
  background-color: rgb(0, 105, 255);
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  margin-top: 50px;
}

.sez-intro h1{
  color: #FFF;
  font-size: 28px;
  margin-top: 40px;
  font-weight: bold;
}

.sez-intro p{
  color: #D0DFFF;
  font-size: 17px;
}

.form-intro{
  background-color: #FFF;
  border-radius: 10px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.form-intro h2{
  color: #000;
  font-size: 23px;
  padding-top: 20px;
  font-weight: bold;
}

.form-intro h3{
  color: #1072FF;
  font-size: 23px;
  font-weight: bold;
}

.sez-intro .form-group{
  padding: 0 20px;
}

.btn-form{
  display: block;
  margin: 4% 4%;
  width: 92%;
  border: none;
  background-image: none;
}

.btn-form-1{
  background-color: #49b4e5;
  color: #FFF;
}

.btn-form-2{
  font-weight: bold;
}

.position-logo-google{
  position: relative;
}

.fa-google{
  position: absolute;
  left:30px;
  top:10px;
  color: #54e516;
}

.sez-intro span{
  font-size: 11px;
  margin-bottom: 20px;
}

.underline-blue:hover{
  cursor: pointer;
}

.underline-blue:active{
  color: #000;
}

/* FINE INTRO */

/* FINE HEADER */
/* INIZIO MAIN */

.sez-logos{
  background-color: #F3F5F9;
}

.sez-logos h4{
  font-size: 14px;
  padding: 20px 0;
  font-weight: bold;
}

.sez-logos p{
  font-weight: bold;
}

.sez-logos p:hover{
  cursor: pointer;
}

.sez-logos p:active{
  color: #000;
  text-decoration: underline;
}

.logo:hover{
  cursor: pointer;
}

.sez-logos p{
  margin-top:20px;
  margin-bottom: 30px;
}

@media all and (min-width:767px){

  /* INIZIO HEADER */
  /* INIZIO NAV */
  .sez-intro h1{
    font-size: 29px;
  }

  .sez-intro p{
    font-size: 18px;
  }

  /* FINE NAV */
  /* INIZIO INTRO */

  .form-intro h2{
    font-size: 26px;
  }

  .sez-intro span{
    font-size: 17px;
  }

  /* FINE INTRO */
  /* FINE HEADER */
  /* INIZIO MAIN */
  /* INIZIO PRIMA SECTION */

  .logo{
    width: 120%;
  }

  #docker{
    margin-top: 10px;
  }

  #slack{
    margin-top: 10px;
  }

  #wework{
    margin-top: 10px;
  }

  #hashi{
    margin-top:15px;
  }

  #splunk{
    margin-top: 8px;
  }

}

@media all and (min-width:992px){

  /* INIZIO HEADER */
  /* INIZIO NAV */
  .mrg-l-r{
    margin: 0 60px;
  }

  .sez-intro h1{
    font-size: 50px;
  }

  .sez-intro p{
    font-size: 20px;
  }

  /* FINE NAV */
  /* INIZIO INTRO */
  /* FINE INTRO */
  /* FINE HEADER */
  /* INIZIO MAIN */
  /* INIZIO PRIMA SECTION */

  .logo{
    width: 100%;
  }

  #docker{
    margin-top: 15px;
  }

  #wework{
    margin-top:12px;
  }

  #hashi{
    margin-top: 20px;
  }

}
